[Unit]
Description=Greeter daemon
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty2.service

[Service]
Type=simple
ExecStart=greetd
StandardInput=tty
StandardError=syslog
TTYPath=/dev/tty2
TTYReset=yes
Restart=always

[Install]
Alias=display-manager.service
